@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);


    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --white: hsl(0, 0%, 100%);


    font-size: 16px;


}


* {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;

}


html {

    background:
        var(--very-dark-blue);
    /*hsl(220, 15%, 55%); */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    /* Do not repeat the image */

    background-size: 100% auto;
    background-color: var(--pale-blue);
}

/*Media Query______________________________________________________________________________________*/
@media (min-width: 1000px) {

    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: 100% 50%;
    }

}

img {

    display: block;
    max-width: 100%;
}



.hero {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*TEXT FORMAT_____________________________________________________________________________*/
/*TEXT FORMAT_____________________________________________________________________________*/
a {
    color: var(--bright-blue);
    font-weight: 700;
    transition: .4s ease-in-out;

}

a:hover {
    opacity: 60%;
    text-decoration: none;
}



h1 {

    color: var(--dark-blue);
    font-size: 1.7rem;
    font-weight: 900;
    transition: .5s ease;

    margin-bottom: 7px;
}




p {

    color: var(--desaturated-blue);
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;

}

#cancel {
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--desaturated-blue);
    font-weight: 900;
    text-decoration: none;
}

#cancel:hover {
    color: var(--dark-blue);
    font-weight: 900;
    transition: .4s ease-in-out;
    opacity: 1;
}


/*CONTENT_____________________________________________________________________________*/
/*CONTENT______________________________________________________________________________*/


/*INTERACTIVE_____________________________________________________________________________*/


button {
    width: 100%;
    background:var(--bright-blue);
    color: var(--white);
    font-weight: 700;
    border: 0px;
    padding: 18px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 10px 20px -1px hsla(223, 47%, 23%, 0.425);
    transition: .4s ease-in-out;
}

button:hover {
    opacity: 0.6;


}

/*Container_____________________________________________________________________________*/

.card {

    box-sizing: border-box;
    display: flex;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 10px 30px -3px hsla(223, 47%, 23%, 0.316);
    width: 80vw;
    max-width: 450px;

}

.cardcontent {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;

}


.description {
    padding-bottom: 8px;
}

.subclass {

    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--very-pale-blue);
}

.subclassplan {
    display: flex;
    flex-direction: column;
}

.annualplan {
    color: var(--dark-blue);
    font-weight: 900;
    line-height: 1rem;
}


.price {
    line-height: 1rem;
}
